.subTitleDiv {
    text-align:center;
    background-color:rgb(155, 155, 194);
  }
  
  .subTitleDivBorder {
    border:none;
    margin:5; 
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    background-color:rgb(155, 155, 194)
  }

  .example-card {
    max-width: 400px;
    width: 500px;
    border : solid;
  }