
<!-- https://swapi.co/api/ -->
<!-- https://starwars-visualguide.com/#/ -->

<div style="text-align: center">
  <h1>Routing and Navigation</h1>
</div>

<nav>
  <a routerLink="/category" routerLinkActive="active">Category</a>
  <a routerLink="/character" routerLinkActive="active">Character List</a>
  <a routerLink="/characterDetail" routerLinkActive="active">Character</a>
</nav>



<div fxLayout="row" fxLayoutAlign="center" style="border: solid;width:100%">
  <router-outlet></router-outlet>
</div>